
/* Estilos para el dropdown */
.dropdown select.dropbtn {
    background-color: #2c9780; /* Color de fondo azul */
    color: rgb(255, 255, 255);
    
    padding: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 55%;
  }
  
  /* Estilos para las opciones del dropdown */
  .dropdown select option {
    background-color: #2c9780;
  }
  
  .dropdown select option:hover {
    background-color: #2c9780;
  }