* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: rgba(255, 255, 255, 0.938);
}

h1, h3 {
    color: rgb(107, 107, 107);
}

.title {
    text-align: center;
}

.panel-container {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.left-panel, .right-panel {
    text-align: center;
    width: 50%;
}

.pediatric-dose {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dose {
    background-color: #2c9780;
    padding: 12px;
    width: 35%;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.pediatric-dose h3 {
    width: 100%;
    margin-bottom: -.2%;
}
/* Input*/

.weight {
    border: none;
    background-color: #2c9780;
    color: white;
    font-weight: bold;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    width: 53%;
    outline: none;
    appearance: none;
    text-align: center;
}

.additional-info {
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .left-panel, .right-panel {
        width: 100%;
    }
  }